* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    font-size: 15px;
    margin: 40px;
}

button {
    font-size: 20px;
    background-color: #FFF;
    padding: 8px;
    border-radius: 20px;
    margin-top: 20px;
}

h1 {
    margin: 20px;
}

.oscuro {
    background-color: #000;
    color: #FFF;
}

.claro {
    background-color: #FFF;
    color: #000;
}